<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Create Note</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script type="text/javascript">
<!--
var count=10000;
function load1()
{
document.Form.t.value=count-document.Form.content.value.length;
}
function counter()
{
a=document.Form.content.value.length;
if((a)>count)document.formText.text1.value=document.Form.content.value.substring(0,count);
a=document.Form.content.value.length;
document.Form.t.value=count-a;
}
//-->
</script>
</head>

<body style="background-color:powderblue; font-family: 'Comic Sans MS'" onload=load1()>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-xxl">
        <div class="collapse navbar-collapse justify-content-center"  id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/note/list">ALL NOTES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/note/create">CREATE NOTE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">|</a>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
            </ul>
            <form class="nav-item" action="/logout" method="get">
                <button class="btn btn-primary" type="submit">Sing out</button>
            </form>
        </div>
    </div>
</nav>
<br>
<div class="container-sm" style="width:60%;">
    <form method="post" action="/note/create" name="Form">
        <div class="form-control" style="font-family:verdana; background-color:LightGray;">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Note's name:</label>
                <input class="form-control form-control-lg"
                       type="text"
                       name="name"
                       id="exampleFormControlTextarea1"
                       minlength="5"
                       maxlength="100"
                       required="required">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea2" class="form-label">Note's content:</label>
                <textarea class="form-control"
                          name="content"
                          id="exampleFormControlTextarea2"
                          onkeyup="counter()"
                          rows="20"
                          minlength="5"
                          maxlength="10000"
                          required="required"></textarea>
                Character limit:
                <input type="text" id="t"  size="4" maxlength="4" disabled>
                <br>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input"
                       type="radio"
                       id="radio1"
                       name="access"
                       value="PUBLIC"
                       aria-selected="true"
                       checked>
                <label class="form-check-label" for="radio1">Public</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input"
                       type="radio" id="radio2"
                       name="access"
                       value="PRIVATE"
                       aria-selected="true">
                <label class="form-check-label" for="radio2">Private</label>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-secondary me-md-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseExample"
                        aria-expanded="false"
                        aria-controls="collapseExample">
                    Markdown guide
                </button>
                <button class="btn btn-success me-md-2" type="submit">Create</button>
                <button class="btn btn-success me-md-2" type="button" onclick="history.back()">Go back</button>
            </div>
            <br>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <p>
                        <b>#</b> This is for Heading h1<br>
                        <b>######</b> This is for Heading h6<br>
                        <br>
                        <b>*</b>This text will be italic<b>*</b><br>
                        <b>_</b>This will also be italic<b>_</b><br>
                        <br>
                        <b>**</b>This text will be bold<b>**</b><br>
                        <b>__</b>This will also be bold<b>__</b><br>
                        <br>
                        <b>*</b> Item with dot<br>
                        <b>1</b> Item with number<br>
                        <br>
                        <b>[</b>Link title<b>]</b><b>(</b>https://url<b>)</b><br>
                        <br>
                        <b>---</b> Cross-large line<br>
                        <br>
                        <b>```</b>Inline highlight text<b>```</b><br>
                        <br>
                        <b>``</b>Inline highlight block text<b>``</b>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>